<!-- LOGIN FORM -->
<form action="/" method="post">
    <label>User name</label>
    <br>
    <input type="text" class="username" name="username">
    <br>
    <br>
    <label>Password</label>
    <br>
    <input type="password" class="password" name="password">
    <br>
    <br>
    <button type="submit" class="login-button">Login</button>
    <br>
    <br>
    Don't have an account? <a href="/register">Register now!</a>
</form>